
<div class="container">
  <h2>Create your own Pokemon!</h2>
  <div class="create">
    <div>
      <label for="new-pokemon">Name: </label>
      <input id="name" required [(ngModel)]="newPokemon.name" name="name" #name="ngModel" />

      <label for="new-pokemon">Height:</label>
      <input id="height" required [(ngModel)]="newPokemon.height" name="height" #pokemonHeight="ngModel" />

      <label for="new-pokemon">Weight:</label>
      <input id="weight" required [(ngModel)]="newPokemon.weight" name="weight" #pokemonWeight="ngModel" />

      <label for="new-pokemon">Types:</label>
      <input id="types" required [(ngModel)]="newPokemon.types" name="types" #pokemonTypes="ngModel" />

      <label for="new-pokemon">Family:</label>
      <input id="family" required [(ngModel)]="newPokemon.family" name="family" #pokemonFamily="ngModel" />

      <button type="button" class="add-button" (click)="addPokemon(name.value, +pokemonHeight.value,
                                  +pokemonWeight.value, pokemonTypes.value, pokemonFamily.value)">
        Create Pokemon
      </button>
    </div>
  </div>
  <div *ngIf="pokemonList.length > 0">
  <h2>Added Pokemon</h2>
  <ul>
    <li *ngFor="let pokemon of pokemonList">
      {{ pokemon.name }} Height: {{ pokemon.height }} - Weight: {{ pokemon.weight }} - Family: {{ pokemon.family }}
    </li>
  </ul>
    </div> 
